body{
     margin-top: 0;
     height: 900px;
 }
.zhengti
{

    width: 1095px;
    height: 900px;
    margin: 0 auto;
    border: 2px solid slategray;
    background-color: #FFFFFF;
    border-top: 0;
    position: relative;
}
.tupian img
{
    width: 1060px;
    height: 144px;
    position: absolute;
    margin-left: 17px;
}
.xinxilan
{
    background-color: #577F49;
    width: 1060px;
    height: 40px;
    position: relative;
    margin-left: 17px;
    top: 144px;
}
.neirong a
{
    color: #FFFFFF;
    line-height: 36px;
    text-decoration: none;
    margin-left: 30px;
}
a:link
{
    color: #FFFFFF;
}
a:active
{
    color: yellow;
}
a:hover
{

    color: yellow;
    text-decoration: underline;
}
.s1
{
    padding: 16px 16px;
}
.bingyidengji
{
    top: 10px;
    position: relative;
    color: gray;
}
.bingyidengji a
{
    top: 1px;
    position: relative;
    color: gray;
    text-decoration: none;
    padding: 16px 16px;
}
#myCarousel
{
    position: relative;
    left: 48px;
    top: 157px;
    width: 996px;
    height: 563px;

}
.jv
{
    position: relative;
    top: 193px;
    left: 20px;
}
.xian01
{
    position: absolute;
    width: 275px;
    top: 5px;
}